* {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
}

body, input {
    font: menu;
}

textarea, input, div, button {
    outline: none;
    margin: 0;
}

/* Controls Section */
.controls {
    background-color: rgb(156, 198, 175);
    margin-top:-12px;
    padding-bottom: 5px;
    height: 30%;
    /*
    position:fixed;
    width: 100%;
    display: block;*/
}

button {
    font-size: 14px;
    background-color: rgb(253, 248, 235);
    border: none;
    padding: .5em 1em;
}

button:hover {
    background-color: rgb(255, 233, 178);
    cursor: pointer;
}

button:active {
    background-color: rgb(198, 176, 118);
}

button:disabled {
    background-color: rgb(196, 204, 202);
}

/* Content Styling */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.content {
    height: 68%;
    display: flex;
}

.raw-markdown, .rendered-html {
    min-height: 100%;
    max-width: 50%;
    flex-grow: 1;
    padding: 1em;
    overflow: scroll;
    font-size: 16px;
}

.raw-markdown {
    border: 5px solid rgb(253, 248, 235);
    border-right: 5px solid rgb(255, 255, 255);;
    background-color: rgb(253, 248, 235);
    font-family: Courier,monospace;
}

#copy-button {
    margin-left: 50%;
}
.putInHead{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
}
.putInHead p{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 5px;
}
